* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}


.Header {
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
}

#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  
}

#user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  
}
.main-nav {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

#avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid black;
  margin-right: 10px;
}

.username {
  font-size: 16px;
}

/* Articles */

.article-container {
  display: flex;
  justify-content: center;
}
.card-container {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.article_list {
  max-width: 70%;
  list-style: none;
  padding: 0;
}

.article_card {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color:rgb(172, 200, 172)
}

.article_card p {
  margin: 5px 0;
}

.article_card h2 {
  margin: 10px 0;
}

.article-card {
  border: 1px solid #000000;
  border-radius: 0px;
  padding: 10px;
  /* margin-bottom: 10px; */
  background-color: rgb(172, 200, 172);
}

.article-topic {
  margin: 5px 0;
}

.article-title {
  margin: 10px 0;
}

.article-image {

  width: 100%;
  height: auto;
}

.article-comments {
  margin-top: 10px;
}

.comments-container {
  margin-top: 20px;
}

.comments-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.comment-author {
  margin: 0;
  font-size: 16px;
}

.comment-date {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.comment-body {
  margin-bottom: 10px;
}

.comment-votes {
  margin: 0;
  font-size: 14px;
  color: #666;
}

#vote-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;

  
}

#outer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#vote-buttons button {
  margin: 20px;
  font-size: 30px;
}

#article-container{
  display: flex;
  border: 4px solid #000000;
  background-color:rgb(47, 63, 79);
  border-radius: 8px;
}

.article-votes {
  font-size: 50px; 
  color: #f4f4f4;
}